@import "tailwindcss";

:root {
  --background: #FEF8EF;
  --foreground: #171717;
}

@theme inline {

  --color-primary: #D41D2F;
  --color-secondary: #C3DCE0;
  --color-secondarydark: #88B8CE;
  --color-secondaryverydark: #0A1045;
  --color-accent: #FFD4E1;
  --color-background: #FEF8EF;
  --color-text: #562924;

  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, sans-serif;
}

/* Blob Keyframes */
@keyframes blob {
  0% {
    border-radius: 42% 58% 63% 37% / 41% 44% 56% 59%;
  }
  50% {
    border-radius: 58% 42% 37% 63% / 59% 56% 44% 41%;
  }
  100% {
    border-radius: 42% 58% 63% 37% / 41% 44% 56% 59%;
  }
}

/* Utility Class */
.animate-blob {
  animation: blob 8s ease-in-out infinite;
}